* {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
}

/* Nav Bar */
.nav-container {
	height: 80px;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 4px 0 rgba(108, 108, 108, 0.15);
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #fff;
}
.main-nav {
	display: grid;
	grid-template-columns: 3fr 2fr;
	z-index: 100;
	
	align-items: center;
	align-self: center;
	max-width: 900px;
	width: 100%;
	
	
}
.main-nav a:link {
	text-decoration: none;
}
.nav-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	list-style: none;
	text-decoration: none;	
	font-size: 15px;
	grid-gap: 10px;
}
.nav-list-items {
	color: #40454f;
}
.nav-list a:hover{
	border-bottom: 2px solid #8c9199;
	text-decoration: none;
}
#nav-sign-up {
	padding: 7px;
	border: 1px solid #40454f;
	border-radius: 5px;
}
#nav-sign-up:hover {
	padding: 7px;
	border: 2px solid #8c9199;
	border-radius: 5px;
}
.mobile-nav-menu {
	display: none;
}

/* Landing Page */

.landing-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 70px;
	justify-content: center;
	padding: 30vh 0;	
	max-width: 850px;
	margin: auto;
}
.landing-left {
	max-width: 350px;
	max-height: 350px;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border-radius: 2px;
}
.landing-photo-container img{
	height: auto;
	width: 100%;
}
.landing-signup-header {
	font-size: 35px;
}
.landing-signup-text {
	font-size: 17px;
}


/*  Feature Section  */

.features {
	max-width: 900px;
	margin: auto;
	margin-bottom: 20vh;
}

.feature-examples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
    margin: auto;
}

.feature-header-text {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.feature-containers {
	max-width: 350px;
	max-height: 350px;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	margin-bottom: 15vh;
}
.feature-containers img {
	height: auto;
	width: 100%;
}
.feature-title {
	text-align: center;
}
.create-schedule {
	margin-right: 22vh;
}
.set-time {
	margin-right: 22vh;
}

/* Additional Features */

.additional-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 900px;
	justify-content: center;
	margin: auto;
}
.additional-feature {
	max-width: 350px;
	padding: 5vh;

}
.additional-feature p{
	text-align: center;
}
.fa {
	margin-left: 47%;
}

/* Footer */

.footer-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 70px;
	background-color: #a3a3a8;

}
.footer-items, .social-links {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.footer-items li {
	margin-right: 13px;

}
.footer-items a:link {
	text-decoration: none;
	color: white;
}
.fab {
	font-size: 20px;
	margin-left: 13px;
	color: white;
}

/* Sign Up Page */
#wrapper-signup {
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-signup {
	width: 400px;
	text-align: center;
	
}
.signup-header-text {
	font-size: 28px;
	font-weight: 300;
}
.signup-boxes {
	width: 400px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.signup-form {
	display: flex;
	flex-direction: column;
	width: 290px;

}
.signup-bottom-text {
	text-align: center;
	font-size: 13px;
}
.signup-inputs{
	width: 92%;
	padding: 9px;
	margin: 10px;
	align-self: center;
}
.signup-button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
.signup-button:hover {
	background-color: #77d97b;
}

/* Booking Page */

.booking-wrapper {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.booking-button {
	width: 110px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 2px;
	margin: 5px;

}

.booking-time {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 600px;
}
#DropDownTimezone {
	width: 200px;
}
.timezone {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.timezone-selector {
	margin-left: 10px;
}

/* Confirmation Page */
.confirm-title {
	text-align: center;
	margin: 18vh 0;
}

.confirmation-info-container {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	border: 1px solid #c9d7df;
    border-radius: 3px;
    justify-content: center;
    margin: auto;
}
.confirm-contain {
	max-width: 400px;
	margin: auto;
	padding: 8vh 0;
}
.confirm-box-info {
	display: grid;
	grid-template-columns: .2fr .8fr;
	align-items: center;
	font-size: 16px;
	
}
.confirm-details {
	
}