* {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
}
ul {
	list-style: none;
}

/* Nav Bar */
.fa-cubes {
	font-size: 40px;
	color: #4c6896;
}
.nav-container {
	height: 80px;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 4px 0 rgba(108, 108, 108, 0.15);
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #fff;
}
.main-nav {
	display: grid;
	grid-template-columns: 3fr 2fr;
	z-index: 100;
	
	align-items: center;
	align-self: center;
	max-width: 900px;
	width: 100%;
	
	
}
.main-nav a:link {
	text-decoration: none;
}
.nav-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	list-style: none;
	text-decoration: none;	
	font-size: 14px;
	grid-gap: 8px;
}
.nav-list-items {
	color: #40454f;
}
.nav-list a:hover{
	border-bottom: 2px solid #4c6896;
	text-decoration: none;
}
#nav-sign-up {
	padding: 7px;
	border: 1px solid #4c6896;
	border-radius: 5px;
}
#nav-sign-up:hover {
	padding: 7px;
	border: 2px solid #4c6896;
	border-radius: 5px;
}
.mobile-nav-menu {
	display: none;
}

/* Landing Page */
.full-width-landing {
	background-color: #f6f9fc;

}
.landing-page {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 70px;
	justify-content: center;
	padding: 26vh 0 15vh 0;	
	max-width: 850px;
	margin: auto;
}
.landing-left {
	max-width: 350px;
	max-height: 350px;
	box-shadow: 5px 10px 15px rgba(0,0,0,.1);
    border-radius: 2px;
}
.landing-photo-container {
	height: 100%;
	width: 100%;
}

.landing-photo-container img{
	object-fit: cover;
	width: 350px;
	height: 350px;
	border-radius: 2px;
}
.landing-signup {
	text-align: center;
	line-height: 30px;
}
.landing-signup-header {
	font-size: 44px;
	font-weight: 400;
	color:  #47525D;
	margin-top: 2vh;
}
.landing-signup-text {
	font-size: 17px;
	color:  #47525D;
	font-weight: 400;
}
.landing-button {

    background-color: #4c6896;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.landing-button:hover {
	background-color: #658dce;
}
.google-signup {
	background-color: #4c6896;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.google-signup:hover {
	background-color: #658dce;

}



/*  Feature Section  */

.features {
	max-width: 900px;
	margin: auto;
}
.feature-header {
	margin-top: 10vh;
}
.feature-examples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
    margin: auto;
}

.feature-header-text {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.feature-containers {
	max-width: 350px;
	max-height: 350px;
	box-shadow: 5px 10px 15px rgba(0,0,0,.1);
	border-radius: 2px;
	margin-bottom: 15vh;
}
.feature-container-photo {
	height: 100%;
	width: 100%;
}
.feature-containers img {
	object-fit: cover;
	width: 350px;
	height: 350px;
	border-radius: 2px;
}
.feature-title {
	text-align: center;
	margin-bottom: 4vh;
    font-size: 19px;
}
.create-schedule, .set-time {
	margin-right: 12vh;
}


/* Additional Features */
.full-width-additional {
	background-color: #f6f9fc;
}
.additional-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 900px;
	justify-content: center;
	margin: auto;
	padding: 8vh 0;
}
.additional-feature {
	max-width: 350px;
	padding: 5vh;
	text-align: center;
}
.additional-feature p{
	text-align: center;
}
.fa {
	margin-left: 47%;
}

/* Footer */

.footer-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 70px;
	background-color: #4c6896;


}
.footer-items, .social-links {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.footer-items li {
	margin-right: 13px;

}
.footer-items a:link {
	text-decoration: none;
	color: white;
}
.footer-items a:link:hover {
	color: #babbbc;
}
.fab {
	font-size: 20px;
	margin-left: 13px;
	color: white;
}

.fab:hover {
	color: #babbbc;
}

/* Sign Up Page */
.signup-body {
	margin: 0;
	background-color: #f6f9fc;
}
#wrapper-signup {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-signup {
	width: 400px;
	text-align: center;
}
.signup-header-text {
	font-size: 28px;
	font-weight: 300;
}
.signup-boxes {
	width: 400px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: white;
}
.signup-form {
	display: flex;
	flex-direction: column;
	width: 290px;

}
.signup-bottom-text {
	text-align: center;
	font-size: 13px;
}
.timezone p {
	font-size: 14px;
	margin-right: 18px;
}
#DropDownTimezone-signup {
	width: 200px;
	margin: 10px 0;
	color: #6d6d6d;
}
.signup-inputs{
	width: 92%;
	padding: 9px;
	margin: 10px;
	align-self: center;
}
.signupbox-top .google-signup {
	background-color: #4c6896;
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin-top: 2vh;
}
.signupbox-top .google-signup:hover {
	background-color: #658dce;
}

.signup-button {
	background-color: #4c6896;;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
}
.signup-button:hover {
	background-color: #658dce;
}
.footer-container-signup {
	color: #4c6896;
    margin-top: 5vh;
    font-size: 14px;
    letter-spacing: .2px;
}
.terms-conditions a:link{
	text-decoration: none;
	color: #786a00;

}

/* Booking Page */

.booking-wrapper {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.booking-button {
	width: 110px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 2px;
	margin: 5px;

}

.booking-time {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 600px;
}
#DropDownTimezone {
	width: 200px;
}
.timezone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.timezone-selector {
	margin-left: 10px;
}

/* Confirmation Page */
.confirm-title {
	text-align: center;
	margin: 18vh 0;
}

.confirmation-info-container {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	border: 1px solid #c9d7df;
    border-radius: 3px;
    justify-content: center;
    margin: auto;
}
.confirm-contain {
	max-width: 400px;
	margin: auto;
	padding: 8vh 0;
}
.confirm-box-info {
	display: grid;
	grid-template-columns: .2fr .8fr;
	align-items: center;
	font-size: 16px;
	
}

/* Main Page */

.nav-container-main {
	height: 80px;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 4px 0 rgba(108, 108, 108, 0.15);
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	position: sticky;
	background-color: #fff;
}
.main-content-wrapper{
	max-width: 1000px;
	margin: auto;
	padding-top: 10vh;
}
.link-list-container a:link, .scheduled-meetings-container a:link {
	text-decoration: none;
	color: #40454f;
}
.link-option-container {
	justify-self: end;

}
.ind-link-options {
	font-size: 16px;

}
.main-meeting-links	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #cacaca;
	padding-bottom: 2vh;
}
.link-li-container {
	display: grid;
	grid-template-columns: .1fr .2fr .7fr;
	margin: 4vh 0;
	border-bottom: 1px solid #cacaca;
	padding-bottom: 2vh;
}
.scheduled-header {
	margin-top: 8vh;
	border-bottom: 1px solid #cacaca;
}
.scheduled-title {
	margin-bottom: 5vh;
}
.scheduled-meetings-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 4vh 0;
	border-bottom: 1px solid #cacaca;
	padding-bottom: 2vh;
}